node_modules
.env
backup-pre-filter.bundle
# Local backup bundles created by developers or backup tools
backup-*.bundle
*-backup.bundle
*.localbundle
# temporary bundle files
*.bundle.backup
tmp-filter-clone
tmp-filter-clone-remote
logs/
