.lazy-video-container {
  position: relative;
  width: 100%;
  display: block;
}

.lazy-video-container.ar-16x9 {
  aspect-ratio: 16/9;
}
.lazy-video-container.ar-4x3 {
  aspect-ratio: 4/3;
}

.lazy-video-placeholder {
  position: absolute;
  inset: 0;
  background: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #555;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
}
